.Kenny {
    background: url('./Kenny.jpg');
}

.Butters {
    background: url('./Butters.jpg');
}

.Cartman {
    background: url('./Cartman.jpg');
}

.container {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75%;
}

